<body>
  
  <header>
    <a href="#" class="logs"
      ><span><img
        src=""
        alt="logo"
        class="logo"
    /> </span> <span><h4 style="color: white;">Pexel</h4></span></a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
      <a href="#" class="nav-item" style="--i: 0">Explorer <span>v</span></a>
      <a href="#" class="nav-item" style="--i: 1">Licence</a>
      <a href="#" class="nav-item" style="--i: 2">Importer</a>
      <a href="#" class="nav-item" style="--i: 3">...</a>
      <a href="#" class="nav-item" style="--i: 3">Nous rejoindre</a>


    </nav>
  </header>

 
</body>