
<div class="animated-box">
    <app-hearder></app-hearder>

    <div class="card-text">
        <div class="text">
            <h3>
                Les plus belles photos, images et vidéos <br>
            libres de droits partagées gratuitement <br>
            par des créateurs talentueux.
            </h3>
        </div>
        <div class="search">
            <div class="select" >
                <select name="" id="" class="custom-select" (Change)="onSelectChange($event)">
                  <option value="images"> <span></span> image</option>
                  <option value="videos"> <span></span> video</option>
               </select>
             
            </div>
            <div>
                <input type="text" class="input-text" id=""   placeholder="rechercher des {{selectedOption}} gratuitement"    [(ngModel)]="selectedOption">
            </div>
        </div>

    </div>
</div>


<div class="nav2">
    <ul class="box">
        <li class="deco">accueil</li>
        <li>video</li>
        <li>clasement</li>
        <li>concour</li>
    </ul>
</div>

{{selectedOption}}

<!-- <div class="nav3">
    <ul class="box">
        <li><h4 > Tendance photo </h4></li>
        <li>
            <div class="select" >
                <select name="" id="" class="custom-select">
                  <option value="image"> <span></span> tendance</option>
                  <option value="video"> <span></span> nouveau</option>
               </select>
            </div>
        </li>
    </ul>
</div> -->
<app-hearder3></app-hearder3>

<app-galerie></app-galerie>

